<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DineMe</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="../public/styles/dine-me.css">
    <script type="text/javascript" src="../scripts/website-mobile-preview-master/biomp.js"></script>
  </head>
  <body>

    <section id="landing">

      <div class="ui container">
        <div class="ui inverted segment">
          <div class="ui inverted secondary pointing menu">
            <a class="item" id="home" href="../index.html">Kyle Wang</a>
            <div class="right menu">
              <!-- <a class="item">About</a> -->
              <!-- <a class="item">Contact</a> -->
            </div>
          </div>
        </div>
      </div>

      <div id="appTitle">
        <h1>DineMe</h1>
        <p> An iOS mobile application that finds your to-go restaurants near your location</p>
      </div>

      <div id="previews">
        <div id="signInPreview"></div>
        <div id="homePreview"></div>
        <div id="prmoptPreview"></div>
        <div id="placePickerPreview"></div>
        <div id="nearbyPreview"></div>
      </div>

    </section>

    <!--      =======================================================
                                    Use Cases Description
              =======================================================     -->

    <section id="useCaseSection">

      <div id="addRestaurant">
        <div class="useCaseDescription">
          <h1> Add Restaurants </h1>
          <p> Search for restaurants to try out when you are nearby in the future.</p>
        </div>

        <div id="addRestaurantScreenshots">
          <div id="addRestaurantStepOne"></div>
          <div id="addRestaurantStepTwo"></div>
          <div id="addRestaurantStepThree"></div>
        </div>
      </div>

      <div id="searchNearby">
        <div class="useCaseDescription">
          <h1> Search Nearby </h1>
          <p> Instantly look up nearby restaurants you're craving for with a single click of a button!</p>
        </div>

        <div>
          <div id="nearbyScreenshots">
            <div id="nearbyStepOne"></div>
            <div id="nearbyStepTwo"></div>
          </div>
        </div>
      </div>

    </section>

    <!--      =======================================================
                                    Footer
              =======================================================     -->

    <section id="footerSection">
      <div class="github">
          <a href="https://github.com/kwa52/DineMe"><i class="github icon"></i></a>
      </div>
    </section>

    <script type="text/javascript" src="../scripts/dine-me.js"></script>
  </body>
</html>
