html, body {
  height: 100%;
}

.landing {
  /* cover 100% screen on any device */
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background: url("../../images/pexels-photo-776656 (1).jpeg");
  background-size: cover;
}

img.displayPicture {
  margin: auto;
}

#briefIntro {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}

#scroll {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  margin-left: 42%;
  text-align: center;
  /* padding-top: 250px; */
}

.projectList {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ui.header.center.aligned {
  /* margin-top: 50px; */
}

h2.ui.header .sub.header {
  margin-top: 10px;
}

.projectList p {
  font-size: 20px;
}

.projectList .content {
  font-size: 28px;
}

.projectList .sub .header {
  margin-top: 10px;
}

.project {
  margin-top: 50px;
}

.projectImg {
  height: 200px;
  width: 350px;
}

/*        =======================================================
                                My Expertise
          =======================================================     */

#myExpertise {
  /* height: 35%; */
  overflow: auto;
  margin-top: 30px;
}

.ui.three.column.very.relaxed.grid {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

i.html5 {
  color: red;
}

i.code {
  color: orange;
}

i.apple {
  color: lightgray;
}

/*        =======================================================
                                Projects
          =======================================================     */

#projectsSection {
  text-align: center;
  background: #E5E5E5;
  padding-top: 30px;
}

#dineMe {
  margin-bottom: 30px;
}

#dineMe a {
  width: 350px;
  display: block;
  margin: 0 auto;
}

#dineMe img {
  width: 100%;
}

#musicManager img {
  margin: auto;
}

/*        =======================================================
                                Competitions
          =======================================================     */

#competitionsSection {
  overflow: auto;
  padding-bottom: 20px;
}

#passCache {
  margin-left: 25%;
  margin-right: 15%;
  float: left;
}

#passCacheImg {
  margin-right: 100px;
}

#airPebble {
  margin-left: 30%;
  margin-right: 15%;
  margin-top: 30px;
  float: left;
}

.ui.header .content {
  display: inline;
}

#airPebble img {
  height: 200px;
  width: 200px;
  margin-right: 180px;
}


/*      =======================================================
                                Footer
          =======================================================     */

#footerSection {
  height: 20%;
  background: black;
}

#footerSection h1 {
  padding-top: 20px;
  color: white;
}

div.github {
  text-align: center;
}

i.github.icon {
  color: white;
  font-size: 50px;
  padding-top: 20px;
}
